@{
    <!-- ViewData["Title"] = "About"; -->
    ViewBag.Title = "Index";
}
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<p>@ViewBag.Title</p>

<ul>
@foreach (var a in ViewBag.Wejscia)
{
  <li>
    @a
  </li>
}
</ul>
Podsumowanie czasu pracy:
<table>
  <tr>
    <th>Numer karty</th>
    <th>Suma sekund</th>
  </tr>
  @foreach (var item in ViewBag.TimeEntries)
  {
  <tr>
      <td>@item.CardNumber</td>
      <td>@item.TimeInSeconds</td>
  </tr>
  }
</table>
<ul>


</ul>

<style>
table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
</style>
