@{
    <!-- ViewData["Title"] = "About"; -->
    ViewBag.Title = "Index";
}
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<p>@ViewBag.Title</p>

<ul>
@foreach (var a in ViewBag.Wejscia)
{
  <li>
    @a
  </li>
}

</ul>

